<h2><%= @p.title %></h2>
<img src='<%= @p.path_to_image %>' class=""><br><br>
<p><%= @p.price %></p>
<h2><%= @p.is_best_offer ? "Лучшее предложение!!!" : "" %></h2>
<p><%= @p.description %></p>
<p>Размер пиццы <%= @p.size %> см</p>
<p><%= @p.is_spicy ? "Здесь много специй!" : "Пицца без специй" %></p>
<p><%= @p.is_veg ? "Только овощи!" : "Присутствует животный белок" %></p>
